workflows/Sync-n8n-workflow-to-Github.json
{
  "id": "BS0OX4Pxh4RCn0AM",
  "name": "Sync-n8n-workflow-to-Github",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        96
      ],
      "id": "04e693a4-8400-4ebe-8599-53b0a2796bd2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        288
      ],
      "id": "c531fd17-270f-4eea-9d22-a9895eb4f61a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "35ac4d75-5512-4dac-87d4-2a8a7ad4ae42",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "BjRI63JkbE2H7qxK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        96
      ],
      "id": "2ed5bd79-6a84-4643-a170-89c030045e3c",
      "name": "Edit a file",
      "webhookId": "439fe76a-6c04-48e2-b4c7-11dd4b18717a",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        288
      ],
      "id": "4950f5d9-cff0-4a50-b7e1-236b6226f0bf",
      "name": "Create a file",
      "webhookId": "47367284-8aa4-4935-94df-eede05213156",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup all workflow to Github",
        "height": 448,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "917f9e40-c883-4f83-a06c-dcb37e8c5ad1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sync Workflow from Github to n8n",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        176
      ],
      "id": "274d795e-1c69-4290-b673-0ce9d38e7947",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1232,
        288
      ],
      "id": "164773c3-4ed6-4c09-828e-62615250e690",
      "name": "Update a workflow",
      "credentials": {
        "n8nApi": {
          "id": "BjRI63JkbE2H7qxK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update README.md\n",
        "height": 256,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        480
      ],
      "id": "7543e628-0013-4e44-9521-1bdfdd31c547",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        528
      ],
      "id": "10a22a02-933d-47cc-9a7e-8170a261b4dc",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        768
      ],
      "id": "e50bcb6a-6cc9-4eba-96da-636cb67d565d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        768
      ],
      "id": "9fdf31a6-2eeb-4261-b0f2-f5d4a3230612",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "workflows/"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        640,
        768
      ],
      "id": "537baf0b-74e0-4f7c-bb76-619aa71abbac",
      "name": "List files in GitHub",
      "webhookId": "45de1ae5-0b49-4716-81a3-e1612194374b",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        784,
        528
      ],
      "id": "a49f02bb-f267-4b69-9c69-2ba96358a148",
      "name": "Update README.md",
      "webhookId": "42cc72a9-f76f-4bd0-a5f8-3cde83add012",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        768
      ],
      "id": "1f13a142-7b75-4275-861b-b1445f9dda3c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a09907c-603f-4feb-b6ed-b41b9c0d7cb0",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        192
      ],
      "id": "171f0d5c-b67e-481b-9156-5bbe087a3fa1",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "=workflows/{{ $json.name.trim().replaceAll(' ', '-').replaceAll(/[^a-zA-Z0-9\\-]/g, '') }}.json",
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        528,
        192
      ],
      "id": "da56cdf0-3330-4d1d-95db-47e4729b05ba",
      "name": "Get a file",
      "webhookId": "cbf4eacb-ea11-4e7a-8de5-9abc224dcd51",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Update a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Update a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List files in GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update README.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": null,
  "pinData": {},
  "versionId": "5d20b4d7-9462-49d6-9280-407c887ae703",
  "tags": [
    {
      "updatedAt": "2025-11-12T13:48:29.224Z",
      "createdAt": "2025-11-12T13:48:29.224Z",
      "id": "To22NZOwJthX72LT",
      "name": "sync-github"
    }
  ]
}