workflows/Sync-n8n-workflow-to-Github.json
{
  "id": "BS0OX4Pxh4RCn0AM",
  "name": "Sync-n8n-workflow-to-Github",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        208
      ],
      "id": "c531fd17-270f-4eea-9d22-a9895eb4f61a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        320,
        192
      ],
      "id": "35ac4d75-5512-4dac-87d4-2a8a7ad4ae42",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "BjRI63JkbE2H7qxK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "=workflows/{{ $('Edit Fields').item.json.name }}.json",
        "fileContent": "={{ JSON.stringify($('Edit Fields').item.json, null, 2) }}",
        "commitMessage": "=Update workflow file at workflows/{{ $('Edit Fields').item.json.name }}.json",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        256,
        736
      ],
      "id": "2ed5bd79-6a84-4643-a170-89c030045e3c",
      "name": "Edit a file",
      "webhookId": "439fe76a-6c04-48e2-b4c7-11dd4b18717a",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "=workflows/{{ $('Edit Fields').item.json.name }}.json",
        "fileContent": "={{ JSON.stringify($('Edit Fields').item.json, null, 2) }}",
        "commitMessage": "=Create workflow file at workflows/{{ $('Edit Fields').item.json.name }}.json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        256,
        544
      ],
      "id": "4950f5d9-cff0-4a50-b7e1-236b6226f0bf",
      "name": "Create a file",
      "webhookId": "47367284-8aa4-4935-94df-eede05213156",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup all workflow to Github",
        "height": 464,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "917f9e40-c883-4f83-a06c-dcb37e8c5ad1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sync Workflow from Github to n8n",
        "height": 400,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        496
      ],
      "id": "274d795e-1c69-4290-b673-0ce9d38e7947",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Update README.md\n",
        "height": 304,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        544
      ],
      "id": "7543e628-0013-4e44-9521-1bdfdd31c547",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.commits }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\n\nYou are an autonomous **Workflow README Synchronization Agent** responsible for keeping the README documentation fully aligned with workflow files. You operate based exclusively on **commit payload changes**, not directory-wide scanning.\n\n---\n\n## Responsibilities\n\n\n1. Extract workflow filenames from commit messages following the format: \n\n   ```\n   Update workflow file at workflows/<workflow_name>.json\n   ```\n\n   You must extract `<workflow_name>.json` and use it as `getWorkflow`.\n2. For each workflow in `changedWorkflows`, call `get_file` to retrieve its JSON content. \n3. Call `get_readme` to retrieve the current README.md. \n4. Update only the **Workflows section** based on: \n\n   * Added workflows\n   * Modified workflows\n   * Removed workflows\n5. If any **core README sections** are missing (Introduction, Quick Start, Basic Information, Table of Contents, License), you may add them. \n6. Produce a full rewritten README.md only if changes are required. \n7. Submit the updated README using `update_readme`. \n\n---\n\n## Rules\n\n* **Never call `update_readme` until all reasoning is fully complete.** You must think through the entire update process, gather all necessary information, and finalize the rewritten README before performing the `update_readme` tool call. The tool call must only occur *after* your reasoning has ended and must not interrupt your analytical steps.\n* **You must never perform early tool calls.** All reasoning, comparison, validation, and README construction must be completed before invoking any update action.\n* **Do NOT scan the entire workflow directory.** Only use workflow files explicitly provided via commit payload or commit message parsing.\n* Only modify the **Workflows section**, unless a core section is missing, in which case you may add it.\n* Always preserve existing content outside the Workflows section.\n* If the Workflows section does not exist, you must generate one based on the available workflow files.\n* Always output a **complete README**, not a diff.\n* Generate a `workflowChanges` summary describing all updates.\n* Extract `getWorkflow` from commit messages and include it in your final output.\n\n---\n\n## Commit Message Parsing\n\nCommit messages follow this structure:\n\n```\nUpdate workflow file at workflows/<workflow_name>.json\n```\n\nYou must:\n\n* Extract `<workflow_name>.json`\n* Use it to identify the workflow being updated\n* Use it in your final JSON response under `getWorkflow`\n* Use it in your `get_file` calls\n\nExample:\nCommit message:\n\n```\nUpdate workflow file at workflows/email-notification.json\n```\n\nExtract:\n\n```\ngetWorkflow = \"email-notification.json\"\n```\n\nThen call:\n\n```json\n{\n  \"tool\": \"get_file\",\n  \"getWorkflow\": \"email-notification.json\"\n}\n```\n\n---\n\n## Workflow Section Structure\n\nEach workflow entry must contain:\n\n* Workflow Title\n* Description\n* Purpose / Problem It Solves\n* Metadata (if available)\n\n---\n\n## Tool Usage\n\n### `get_file`\n\nFetches the content of a workflow JSON file by its GitHub path.\n**Input → Output:**\n\n```\n({ path: string }) → ({ path: string, content: string })\n```\n\n### `get_readme`\n\nRetrieves the current README.md.\n**Input → Output:**\n\n```\n({}) → ({ content: string })\n```\n\n### `update_readme`\n\nWrites the updated README.md content back into the repository.\n**Input → Output:**\n\n```\n({ content: string }) → ({ success: boolean })\n```\n\n---\n\n## Output Requirements\n\nYour final output must be structured as:\n\n```\n{\n  \"updatedReadme\": \"<full markdown>\",\n  \"workflowChanges\": \"<summary of updates>\",\n  \"getWorkflow\": \"<workflow filename>.json\"\n}\n```\n\nWhere:\n\n* **updatedReadme** → Fully rewritten README\n* **workflowChanges** → Human-readable summary (added, modified, removed workflows)\n* **getWorkflow** → Extracted workflow filename from commit message\n\nThis output is consumed downstream (email notification).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        640
      ],
      "id": "10a22a02-933d-47cc-9a7e-8170a261b4dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        1008
      ],
      "id": "9fdf31a6-2eeb-4261-b0f2-f5d4a3230612",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wv7mP7xv9FatLqgD",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a09907c-603f-4feb-b6ed-b41b9c0d7cb0",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        640
      ],
      "id": "171f0d5c-b67e-481b-9156-5bbe087a3fa1",
      "name": "If File not Exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc69c79b-af4f-4937-ab4f-a0aa99d8a20e",
              "name": "name",
              "value": "={{ $json.name.trim().replaceAll(' ', '-').replaceAll(/[^a-zA-Z0-9\\-]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "updatedAt, createdAt, isArchived, staticData, triggerCount, shared",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        192
      ],
      "id": "cf231d19-3818-4129-9a6a-8e9d69cb40c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9223abc8-a98a-4b0d-bda7-b4d94ae0ee9b",
              "leftValue": "={{ $json.tags && $json.tags.filter(item => item.name == 'sync-github').length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        192
      ],
      "id": "823445fe-b8dc-4491-958f-5dc63afc2765",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "README.md",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        1008,
        1008
      ],
      "id": "abe2df03-9f21-487a-a1f5-0b98ae1c5be7",
      "name": "Get README.md",
      "webhookId": "06d5c2ff-54c2-4242-8a86-40d1e792f8c5",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "README.md",
        "fileContent": "={{ $json.updatedReadme }}",
        "commitMessage": "Update README.md"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        1184,
        1008
      ],
      "id": "fc007636-bd39-4ae9-8272-02b48858cb14",
      "name": "Udpate README.md",
      "webhookId": "8fda127b-3ebc-48fd-a4e1-3d09ac87c9ff",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"updatedReadme\": \"<full new readme markdown here>\",\n  \"workflowChanges\": \"- Sync-n8n-workflow-to-Github.json: Updated trigger logic and improved file sync steps.\\n- Food-Decider.json: Refined decision rules and enhanced recommendation flow.\\n- Demo-RAG-Workflow.json: Updated embeddings retrieval and improved message handling.\",\n\"getWorkflow\": \"<file name>.json\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1376,
        1008
      ],
      "id": "5c232169-dff2-42a0-a78f-6bc936382d3b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fromEmail": "academystudy.noreply@gmail.com",
        "toEmail": "tancs8803@gmail.com",
        "subject": "Workflow Updated at Github",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Workflow & README Sync Completed</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f6f6f6; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: auto; background: #ffffff; padding: 25px; border-radius: 8px; border: 1px solid #ddd;\">\n    \n    <h2 style=\"color: #333333; margin-top: 0;\">🔄 Workflow Synchronization Completed</h2>\n\n    <p style=\"font-size: 15px; color: #444444;\">\n      Hello,\n    </p>\n\n    <p style=\"font-size: 15px; color: #444444;\">\n      Your repository has been successfully synchronized. The agent compared all workflow files with the\n      existing <strong>README.md</strong> and updated the documentation accordingly.\n    </p>\n\n    <h3 style=\"color: #333333;\">📘 What Has Been Updated</h3>\n\n    <p style=\"font-size: 15px; color: #444444;\">\n      Below is a summary of changes detected during the synchronization:\n    </p>\n\n    <div style=\"font-size: 14px; color: #444444; background: #f0f0f0; padding: 12px; border-radius: 6px; border-left: 4px solid #4a90e2;\">\n     {{ $json.output.workflowChanges }}\n    </div>\n\n    <p style=\"font-size: 15px; color: #444444; margin-top: 20px;\">\n      You may review the updated README.md directly in your repository for the full details.\n    </p>\n\n    <p style=\"font-size: 14px; margin-top: 30px; color: #777;\">\n      This message was automatically generated by your Workflow README Sync Agent.\n    </p>\n\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1168,
        640
      ],
      "id": "20b5beae-23aa-41e5-aea5-a8ee0c1c6ca1",
      "name": "Send email",
      "webhookId": "f63ff371-f49d-4a0d-b434-97ee85e2ebc6",
      "credentials": {
        "smtp": {
          "id": "UkSkHy8ege7WBh1c",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "=workflows/{{ $json.name }}.json",
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        944,
        192
      ],
      "id": "da56cdf0-3330-4d1d-95db-47e4729b05ba",
      "name": "Get workflow file",
      "webhookId": "cbf4eacb-ea11-4e7a-8de5-9abc224dcd51",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        48
      ],
      "id": "5aa904f2-495d-4dc1-b7c8-6e9d42af4c5e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "commit.message",
              "renameField": true,
              "outputFieldName": "commits"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        640
      ],
      "id": "ab5409b3-4cee-4a7d-9e8d-257cbce72419",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Cstan0824",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/Cstan0824/n8n_workflows"
        },
        "filePath": "=workflows/{{$json.getWorkflow}}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        832,
        1008
      ],
      "id": "949b1c41-96c7-4616-bb24-03176118ebbe",
      "name": "Get a file in GitHub",
      "webhookId": "b1df188b-d74d-45c5-9c56-9ac3d9c29ea7",
      "credentials": {
        "githubApi": {
          "id": "POURyRuASam0kau7",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File not Exists": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get workflow file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get README.md": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Udpate README.md": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get workflow file": {
      "main": [
        [
          {
            "node": "If File not Exists",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file in GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ddb31a51-d80f-4623-a7af-4de8908bf724",
  "tags": [
    {
      "updatedAt": "2025-11-12T13:48:29.224Z",
      "createdAt": "2025-11-12T13:48:29.224Z",
      "id": "To22NZOwJthX72LT",
      "name": "sync-github"
    }
  ]
}